<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="../ccs/grid.css">
    <link rel="stylesheet" href="../ccs/main.css">
    <link rel="stylesheet" href="../ccs/materialize.min.css">
    <link rel="stylesheet" href="../ccs/style2.css">
</head>

<body>
    <div class="gif_contenedor">
       <div class="logolyft">
           <img src="../asset/img/logoblanco.png" alt="" class="loglyf">
       </div>
       <div class="botones">
           <div class="botcontenedor">
               <button class="btn-large">Log In</button>
           </div>
                      <div class="botcontenedor">
               <button class="btn-large">SIGN UP</button>
           </div>
           <div class="botcontenedor"></div>
       </div>
        
    </div>

    <script src="../js/jquery-3.2.1.min.js"></script>
    <sript src="../js/materialize.min.js"></sript>
    <script src="../js/app2.js"></script>
</body>
</html>