.splash{
    display: grid;
    align-items: center;
    justify-content: center;

}

.logoBlanco{
    display: grid;
   
}

.gif-contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}



